<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>osu! pp rebalance calculator</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <style>
            textarea {
                font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
            }
        </style>
    </head>
    <body>
        <section class="hero is-fullheight">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">Results</h1>
                    User: {{user}}<br>
                    Live PP: {{format_number total_live_pp}} (including {{format_number total_bonus_pp}}pp from playcount)<br>
                    Local PP: {{format_number total_local_pp}}<br>

                    <table class="table">
                        <thead>
                            <th>Beatmap</th>
                            <th>Live PP</th>
                            <th>Local PP</th>
                            <th>PP +/-</th>
                            <th>Position +/-</th>
                        </thead>
                        {{#each scores}}
                        <tr>
                            <td>{{beatmap_id}} - {{beatmap_name}}</td>
                            <td>{{format_number live_pp}}</td>
                            <td>{{format_number local_pp}}</td>
                            <td>{{format_number pp_change}}</td>
                            {{#if (gt position_change 0)}}
                                <td>+{{position_change}}</td>
                            {{else}}
                                {{#if (eq position_change 0)}}
                                <td>-</td>
                                {{else}}
                                <td>{{position_change}}</td>
                                {{/if}}
                            {{/if}}
                        </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
        </section>
    </body>
</html>
